<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body style="font-size:10px; font-family: 'Arial', sans-serif">
    <header>
        <div style="width:50%; text-align: left; float:left">
            <b>{{{meta.startAddress}}}</b> To <b>{{{meta.endAddress}}}</b>
        </div>
        <div style="width:50%; text-align: right; float:right">
            Drive {{{meta.distance}}}, {{{meta.duration}}}
        </div>
    </header>
    <main style="clear:both">
        <img src="{{{imgSrc}}}"
             width="100%"
             style="width:100%; height: auto"/>
    </main>

</body>

</html>