<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500'
          rel='stylesheet'
          type='text/css'>


    <style>
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            padding: 20px 24px;
            margin: 0;
            border: 1px solid #eee;
        }

        .clearfix {
            zoom: 1; /* For IE 6/7 (trigger hasLayout) */
        }

        .clearfix:before,
        .clearfix:after {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .metaData {
            float: right;
            width:20%;
            text-align: right;
        }

        .summary {
            float: left;
            width:70%;
            text-align: left;
            color: rgba(0, 0, 0, 0.87);
            font-size: 15px;
            vertical-align: top;
            line-height: 24px;
        }

        .metaDistance {
            font-size: 13px;
        }

        .metaTime {
            font-size: 15px;
            color: #5a9d00;
        }

        .icon {
            width: 50px;
            float: left;
            color: rgba(0, 0, 0, 0.54);
        }

    </style>

</head>

<body style="font-size:10px; font-family: 'Roboto', sans-serif">
    <header>
        <div style="width:50%; font-size: 16px; text-align: left; float:left">
            <b>{{{startAddress}}}</b> To <b>{{{endAddress}}}</b>
        </div>
        <div style="width:50%;font-size: 16px; font-weight: 300; text-align: right; float:right">
            Drive {{{distance}}}, {{{duration}}}
        </div>
    </header>
    <main style="clear:both">
        <div>
            <img src="{{{imgSrc}}}"
                 width="100%"
                 style="width:100%; height: auto"/>
        </div>
        <div>
            <ul>
                {{#each routes}}
                    <li class="clearfix listItem">
                        <div class="icon">
                            <i class="material-icons">&#xE62C;</i>
                        </div>
                        <div class="summary">
                            via {{summary}}
                        </div>
                        <div class="metaData">
                            <div class="metaTime" >{{duration}}</div>
                            <div class="metaDistance" >{{distance}}</div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </main>

</body>

</html>